* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    background: #f5f5f5;
    color: #1a1a1a;
    height: 100%;
    margin: 0;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    margin: 0;
    clear: both;
}
a,
.entry-content a,
.main-navigation .menu-toggle:hover,
.main-navigation .menu-item a:hover,
.sub-menu a:hover {
    color: #0024f2;
}
a {
    text-decoration: none;
    color: #00a7ff;
}
.site {
    display: flex;
    flex-direction: column;
}
.site-title a {
    color: #1a1a1a;
    font-weight: 700;
}
.site-header {
    position: relative;
    padding: 0;
    box-shadow: 0 3px 17px 0 rgb(0 0 0 / 6%);
    background: #fff;
}
.site-header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 99;
    box-shadow: 0 20px 70px -30px rgb(0 0 0 / 10%);
    position: relative;
    background: #fff;
}
.site-branding {
    display: block;
    margin-left: 30px;
    line-height: 1.2;
    max-width: calc(100% - 80px);
}
.site-title {
    font-size: 20px;
    margin: 0;
}
p:last-child {
    margin-bottom: 0;
}
.main-navigation {
    flex: 1 1 auto;
    display: inline-block;
}
.main-navigation .menu-toggle {
    display: inline-block;
    color: #333;
    line-height: 1;
    font-size: 26px;
    background: 0 0;
    border: none;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menu-primary-container {
    float: right;
    z-index: 99;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-navigation .menu-item,
.main-navigation .page_item {
    display: block;
    position: relative;
    margin-right: 20px;
    font-weight: 700;
}
.main-navigation .menu-item, 
.main-navigation .page_item {
    border-left: 1px solid #ebebeb;
    margin-right: -5px;
}
.main-navigation .menu-item a,
.main-navigation .page_item a {
    display: inline-block;
    padding: 1.42857rem 2.14286rem;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
}
.site-title a,
.site-description,
.main-navigation .menu-item a,
.main-navigation .page_item a,
.main-navigation .menu-item a a,
.main-navigation .page_item a a,
.main-navigation .menu-toggle {
    color: #000000;
}
.menu-item-has-children {
    position: relative;
}
.main-navigation .menu-item:last-of-type, 
.main-navigation .page_item:last-of-type {
    margin-right: 0;
}

@media (min-width: 640px) {
    .site-branding {
        margin-left: 35px;
        display: flex;
        align-items: baseline;
    }
    .site-description {
        margin-top: 0;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #ddd;
    }
}
@media (min-width: 860px) {
    .main-navigation .menu-toggle {
        display: none;
    }
    .menu-primary-container {
        display: block;
    }
    .main-navigation .menu-item,
    .main-navigation .page_item {
        display: inline-block;
    }
    .main-navigation li {
        position: relative;
    }
    .main-navigation .children:before, 
    .main-navigation .sub-menu:before {
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: 0;
        background: 0 0;
        content: '';
        display: block;
    }
    .main-navigation .menu-item-has-children.focus>.sub-menu, 
    .main-navigation .menu-item-has-children:focus-within>.children, 
    .main-navigation .menu-item-has-children:focus-within>.sub-menu, 
    .main-navigation .menu-item-has-children:focus>.children, 
    .main-navigation .menu-item-has-children:focus>.sub-menu, 
    .main-navigation .menu-item-has-children:hover>.children, 
    .main-navigation .menu-item-has-children:hover>.sub-menu {
        display: block;
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .main-navigation .menu-item-has-children.focus>.sub-menu, 
    .main-navigation li:hover>.children, 
    .main-navigation li:hover>.sub-menu {
        opacity: 1;
        pointer-events: auto;
        transition: .2s;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .menu>.menu-item:nth-last-child(-n+3) .children, 
    .menu>.menu-item:nth-last-child(-n+3) .sub-menu, 
    .menu>.page_item:nth-last-child(-n+3) .children, 
    .menu>.page_item:nth-last-child(-n+3) .sub-menu {
        right: 0;
        left: auto;
    }
    .main-navigation .children, 
    .main-navigation .sub-menu {
        margin-top: -1px;
        margin-left: -1px;
        pointer-events: none;
        opacity: 0;
        transition: .2s;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        position: absolute;
        border: 1px solid #ededed;
        top: 100%;
        background: rgba(255,255,255,.98);
        /* min-width: 200px; */
        text-align: left;
        z-index: 99;
        box-shadow: 0 7px 13px -9px rgb(0 0 0 / 10%);
        padding: 0 0;
        font-size: 14px;
        min-width: 250px;
    }
    .main-navigation .children .menu-item, 
    .main-navigation .children .page_item, 
    .main-navigation .sub-menu .menu-item, 
    .main-navigation .sub-menu .page_item {
        display: relative;
        border-bottom: 1px solid #ededed;
        margin: 0;
        padding: 0;
    }
    .main-navigation .children li, 
    .main-navigation .sub-menu li {
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
        float: none;
        display: block;
    }
    .main-navigation .children .menu-item a, 
    .main-navigation .sub-menu .menu-item a {
        padding: 1.42857rem 2.14286rem;
        display: block;
    }
    .main-navigation .menu-item-has-children.menu-item a, 
    .main-navigation .menu-item-has-children.page_item a {
        padding-right: 40px;
    }
    .main-navigation .children .menu-item:last-of-type, 
    .main-navigation .sub-menu .menu-item:last-of-type {
        margin-bottom: 0;
    }
}
